//colors
$green_light: #00bfa5;
$green_dark: #009688;
$grey_light: #455a64;
$grey_dark: #373e42;
$footer_color : #555b5e;

//breakpoints
$tv : 1800px;
$desktop : 1200px;
$tablets : 768px;
$phones : 480px;
$small_phones : 320px;

//radio
$circle_internal: 8px;
$circle_external: 20px;
