extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='blog.bundle.js')

block content
  section.hero.hero-blog
    include ../common/hero__top.pug   
    .hero__title
      .user.hero-blog__user
        .user__img.avatar
          .user__img-pic
        .user__description
          h1.user__title.title.dashTitle.dashTitle--white блог
            .user__transparent-caption  
          .user__text  Статьи, которые я написал

  section.content
    .triangles
      svg.triangle-left.triangle_blog_left(viewBox="0 0 100 100" preserveAspectRatio="none")
        polygon.poligon(points="0,0 0,100 100,100")
      svg.triangle-right.triangle_blog_right(viewBox="0 0 100 100" preserveAspectRatio="none")
        polygon.poligon(points="0,0 0,100 100,100")
    aside.sidebar
      nav.content-nav
        -
          var blogNavItems = [
              ['Самое важное в SASS', '#'],
              ['Приёмы в вёрстке, без которых не обходится ни один сайт', '#'],
              ['Самый необходимый набор Gulp плагинов', '#'],
              ['Почему я выбрал Jade', '#']
          ]
        +menu(blogNavItems, 'content-nav__menu', 0)
    
    .content__list
      article.article.content__item
        h2.article__title.subtitle Самое важное в SASS
        time.article__date 22 ноября 2016
        .article__text-content
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        .article__code
        img.article__code(src = "./assets/images/blog/code.jpg")
      article.content__item
        h2.article__title.subtitle Приёмы в вёрстке, без которых не обходится ни один сайт
        time.article__date 13 ноября 2016
        .article__text-content
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
  