extends ../auth.layout.pug

block content

  .wrapper.wrapper-index
    .auth-block
      .auth-block__content
        .auth-block__user
          +heroUser('user--index-page')
        nav.auth-block__socials
          +socials(socials_array, 'socials--index-page')
      
      .auth-block__menu
        +menu(menuItems, '')
        

  footer
    small.catption-bottom © Владимир Астахов | создано с любовью в LoftSchool | 2016
  button.auth-btn Авторизоваться