extends ../auth.layout.pug

block content

  .wrapper.wrapper-index
    .auth
      .flipper
        .front
          .auth-block
            .auth-block__content
              .auth-block__user
                +heroUser('user--index-page')
              .auth-block__socials
                +socials(socials_array, 'socials--index-page')
            +menu(menuItems, 'auth-block__menu')
              
        .back
          .login
            .login__container
              .subtitle.dashTitle авторизуйтесь
              .login__input
                .login__icon-wrap
                  +icon("login", 'login__icon')
                input.login__field(type="text" placeholder="Логин")
              .login__input
                .login__icon-wrap
                  +icon("password", 'login__icon')
                input.login__field(type="password" placeholder="Пароль")
              +checkbox('Я человек', 'checkbox', '', 'checked', 'login__checkbox')
              
              .login__text Вы точно не робот?
              .login__row
                +radio('Да', 'radio', '', 'checked', 'login__radio')
                +radio('Не уверен', 'radio', '', '', 'login__radio')
            .login__row.login__btns
              button(type="button").btn.btn-main На главную
              button(type="button").btn.btn-exit Войти
            

  footer
    small.catption-bottom © Олег Огородников | создано с любовью в LoftSchool | 2018
  button.auth-btn Авторизоваться