-
    var socials_array = [
        ['vk', 'http://www.vk.com'],
        ['github', 'http://www.github.com'],
        ['in', 'http://www.linkedin.com']
    ]

-
    var socials_array_round = [
        ['vk_round', 'http://www.vk.com'],
        ['github_round', 'http://www.github.com'],
        ['in_round', 'http://www.linkedin.com']
    ]

-
    var menuItems = [
        ['Мои работы ', './works.html'],
        ['Обо мне', './about.html'],
        ['Блог', './blog.html']
    ]

-
    var contacts = [
        ['skype', 'skype_kdn'],
        ['envelope', 'astahov@gmail.com'],
        ['phone', '+7 931 2009324'],
        ['map_marker', 'г.Новосибирск, ул. Инская, д. 5']
    ]