footer.footer
  .footer__row
      .footer__col
        nav.footer__menu
          -
            var menuItems = [
                ['Мои работы ', 'works.html'],
                ['Обо мне', 'about.html'],
                ['Блог', 'blog.html'],
                ['Авторизация', 'auth.html']
            ] 
          +menu(menuItems, '')
      .footer__col
        +socials(socials_array_round, 'socials--footer')  

  .footer__row.footer__text 
    .footer__col
      p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    small.footer__col
      p &copy;  Олег Огородников | создано с любовью в LoftSchool | 2018