.content-nav {
    width: 28%;
    padding-right: 120px;
}

.content-nav__menu {
    max-width: 265px;
    float: right;
    
    a {
        color: $green_light;
        font-weight: bold;
    }
    
    .menu__item {
        margin-bottom: 35px;
        text-align: right;
    }
    
    .is-active::after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 42px;
        background-color: $green_light;
        vertical-align: middle;
        margin-left: 15px;
    }
}