.content-nav {
    padding-right: 120px;
    padding-top: 70px;
}

.content-nav__menu {
    max-width: 265px;
    float: right;
    
    a {
        font-weight: bold;
        color: $grey_light;
    }
    
    .menu__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 35px;
        text-align: right;
        border-right: 3px solid transparent;
        padding-right: 15px;
        transition: .3s;
    }
    
    .menu__item--is-active, .menu__item:hover {
        border-right-color: $green_light;
        
        a {
            color: $green_light;
        }
    }

}