.footer {
    background-color: $footer_color;
    text-decoration: none;
    opacity: 0.85;
    height: 145px;
    margin-top: -145px;
    @include tablets {
        font-size: 16px;
        height: 230px;
        margin-top: -230px;
    }

    @include phones {
        font-size: 13px;
        height: 270px;
        margin-top: -270px;

        small {
            font-weight: 300;
        }
    }
}

.footer__row {
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
    border-bottom-color: #fff;
    border-bottom: 1px solid #646a6d;

    @include tablets {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 35px;
    }

    @include phones {
        padding: 0 15px;
    }
    
    &:last-child {
        border-bottom: none;
    }
}

.footer__col {
    max-width: 500px;
    
    @include tablets {
        max-width: 100%;
        text-align: center;
    }

    @include phones {
        font-size: 13px;
    }
}

.footer__text {
    color: #fff;
    font-weight: 300;
    opacity: 0.5;
}

.footer__menu {
    font-weight: 500;

    .menu__list {
        display: flex;
        justify-content: space-evenly;
    }
    
    .menu__item {
        margin-right: 40px;
        
        &:last-child {
            margin-right: 0;
        }

        
        @include phones {
            margin-right: 10px;
        }
    }

    .menu__link {
        text-decoration: none;
        color: #fff;
    }

    .menu__link:hover {
        color: $green_light;
    }
}

.socials--footer {
    .socials__item {
        margin-right: 10px;
    }

    .socials__link-icon {
        width: 36px;
        height: 36px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        fill: $footer_color;
        background-color: rgba(255, 255, 255, 0.5) ;        
    
        &:hover {
            border: none;
            fill: white;
            background-color: transparent;         
        }
    }
}