.hero-about {
    position: relative;
    background: url('./assets/images/common/bg_header.jpg') center center / cover no-repeat;
    color: #fff;
    min-height: 600px;

    &::after {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 65%;
        height: 65%;
        transform: translate(25%, 25%);
        opacity: 0.06;
        background: url('./assets/images/about/portfolio_title_tranparent.png') center center / contain no-repeat;
    }
}

.hero-about__user {
    .user__description {
        color: #fff;
    }
}