.user-description__img {
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.user-description__data {
    color: $grey_light;
}

.user-description__title {
    text-align: center;
}

.user-description__img {
    margin-bottom: 10px;
}